# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
**/*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
.next/

# Env
.env
**/.env

# Editor
.vscode/
.idea/
